.buildpath
.cache
.DS_Store
.idea
.metadata
.project
.settings
*.log
*.sql.gz
*.tar.gz
node_modules
.vscode
*:Zone.Identifier

/*
!/app
/app/*
!/app/etc
/app/etc/*
!/app/etc/config.php
!/app/etc/env.php.den.php
!/app/etc/env.php.init.php

!/modules
!/composer.json
!/composer.lock
!/.devcontainer
!/.warden
!/.gitignore

!/backfill
!/backfill/magento-db.sql.gz